body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
  'sidebar header header header'
  'sidebar main main main';
  height: 100vh;
  overflow: hidden;
}

.grid-container header {
  grid-area: header;
  height: 60px;
  background: #065577;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.9);
  color: #ff8c00;
  border-bottom: 2px solid #898888;
}

.grid-container header .material-icons-outlined {
  font-size: 25px;
  color: white;
}

.grid-container header .affiliateName {
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.grid-container header .affiliateName span {
  color: #ff8c00;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  width: 260px;
  background-color: #ff8c00;
  overflow-y: scroll;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#sidebar::-webkit-scrollbar {
  width: 0;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 10px 20px 20px 0;
}

.sidebar-title .material-icons-outlined {
  font-size: 25px;
}

.sidebar-title > span {
  cursor: pointer;
  display: none;
}

.sidebar-brand {
  height:100%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-brand .company-logo {
  height: fit-content;
}

.sidebar-brand .company-logo img {
  width: 45px;
}

.sidebar-brand .company-name {
  font-size: 12px;
  font-weight: 700;

  height: 100%;
  padding-left: 8px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 5px solid black;
  line-height: 1.25rem;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list li {
  padding: .5rem 1rem;
  font-size: 16px;
  transition: .5s ease;
  margin-left: .5rem;
  border-radius: 100vw 0 0 100vw;
  transition: .7s;
  margin-bottom: 12px;
}

.sidebar-list .active {
  view-transition-name: activeTab;
  position: relative;
  background: white;
}

::view-transition-group(activeTab) {
  animation-duration: 1.5s;
}

.sidebar-list .active::before,
.sidebar-list .active::after {
  --border-radius: 1rem;

  content: '';
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0;
  background: #ff8c00;
}

.sidebar-list .active::before{
  top: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 10px 10px 0 10px white;
}

.sidebar-list .active::after {
  bottom: calc(var(--border-radius) * -1);
  border-radius: 0 100vw 0 0;
  box-shadow: 10px -10px 0 10px white;
}

.sidebar-list li > a {
  text-decoration: none;
  color: black;
}

.sidebar-list .importantMenu {
  position: relative;
}

.sidebar-list .importantMenu ul {
  max-height: up;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  text-align: left;
  margin-top: 5px;
  color: #898888;
  font-size: 18px;

  display: none;
}

.sidebar-list .importantMenu ul a {
  text-decoration: none;
}

.sidebar-list .importantMenu:hover {
  .sidebar-list .importantMenu ul {
    display: inline;
  }
}

.sidebar-list li .sideMenuToggle {
  font-weight: 700;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}
/*----General main section----*/

.main-container {
  grid-area: main;
  overflow-y: scroll;
}

.main-container .dashHeader {
  background-color: hsl(0, 0%, 25%);
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}

.main-container .dashTitle {
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: 700;
}

/*----mainDash----*/

.mainDash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainDash-container .mainDashContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 50px 10px 20px 10px;
}

.mainDashContent h3 {
  color: #ff8c00;
  font-size: 30px;
  font-weight: normal;
}

.mainDashContent .dashBrivian {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;

  color: #898888;
  padding: 10px;
  font-size: 20px;
  width: 100%;
}

.dashIntro {
  max-width: 1000px;
}

.dashBrivian .accountStatus {
  background: black;
  border-radius: 1rem;
  color: white;
  text-align: center;
  font-size: 18px;
  min-width: 240px;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.accountStatus .active-inactive {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ff8c00;
}

.active-inactive .reflector {
  background: rgb(0, 253, 0);
  color: rgb(0, 253, 0);
  border-radius: 50%;
  font-size: 12px;
  padding: 0 3px;
  box-shadow: 2px 2px 5px rgba(172, 255, 47, 0.5);
}

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
    'header'
    'main';
  }

  .grid-container header {
    justify-content: space-between;
  }

  #sidebar {
    display: none;
    box-shadow: 0 0 20px 720px rgba(0, 0, 0, 0.6);
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

@media screen and (max-width: 850px) {
  .mainDashContent .dashBrivian {
    flex-direction: column;
  }
}