.main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 50px;

  width: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
}

.main .faqsheader {
  font-size: 16px;
}

.main .faqsheader span {
  color: #ff8c00;
}

.faq-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  max-width: 600px;
  margin: 0 auto;
  font-size: 17px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  color: #065577;
}

.question span {
  color: #ff8c00;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  text-align: left;
  margin-top: 5px;
  color: #898888;
  font-size: 16px;
}

.arrow {
  display: inline-block;
  margin-left: 5px;
  transition: transform 1s ease;
}

.arrow.up {
  transform: rotate(180deg);
}