footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 0;
  gap: 40px;
  color: black;
  width: 99%;
  margin: 0 auto;

  background-color: #dedede38;
  border-top: 3px solid #8988883b;
}

.platform {
 display: flex;
 flex-direction: column;
 gap: 20px;
 padding: 0 10% 0 10%;
}

.platform-ih {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.platform-ih img {
  width: 45px;
  object-fit: contain;
}

.platform-ih h1 {
  color: black;
  font-size: 32px;
  font-weight: 600;
}

.platform .desc {
  text-align: center;
}

.platform .desc p {
  max-width: 1200px;
  min-width: 300px;
  color: #898888;
  font-size: 17px;
  border: none;
  text-align: justify;
}

.social-handles {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.social-handles li a {
  color: black;
}

.social-handles li .Instagram {
  color: #a71fd4;
}

.social-handles li .YouTube {
  color: red;
}

.social-handles li .Telegram {
  color: rgb(0, 136, 255);
}

.social-handles li .WhatsAapp {
  color: rgba(0, 128, 0, 0.874);
}

.social-handles li a:hover {
  opacity: .7;
}

.footer-menu {
  list-style: none;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.footer-menu li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  border: 1px solid #898888;
  padding: 8px;
  border-radius: 12px;
  font-weight: normal;
}

.footer-menu li a:hover {
  color: #065577;
  border: 1px solid #065577;
}

.footer-menu li .active {
  border: 1px solid #ff8c00;
  color: #ff8c00;
}

.footer-menu li .active:hover {
  color: #ff8c00;
  border: 1px solid #ff8c00;
}

footer p {
  color: black;
  font-weight: 500;
  font-size: 18px;
  width: 95%;
  margin: 0 auto;
  border-top: 2px solid #8988883b;
  text-align: center;
  padding: 10px;
}

footer p span {
  font-weight: bolder;
  color: #065577;
}