.main {
  height: fit-content;
  min-width: 320px;
}

.intro {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.intro h1 {
  font-size: 43px;
  color: #ff8c00;
  text-align: center;
}

.intro .baseline {
  position: relative;
}

.baseline h1 {
  padding-left: 15px;
  color: #ff8c00;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.intro .baseline h1::after {
  content: "";
  display: block;
  border-bottom: 2px solid #ff8c00;
  margin-top: 40px;
  width: 100%;
}

.baseline .img {
  background: white;
  padding: 0 8px 8px 11px;
  width: fit-content;
  border-radius: 50%;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.baseline img {
  width: 80px;
  cursor: pointer;
}

.p-img {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
  padding: 20px;
}

.p-img .desc {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 50px;

  font-size: 20px;
  font-weight: 500;
  color: #24262b;
  max-width: 800px;
}

.p-img .desc h2 {
  color: #ff8c00;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  margin-left: 0;
}

.p-img .desc h3 {
  font-weight: 500;
  text-align: left;
}

.p-img .desc p {
  text-align: left;
  font-size: 18px;
  color: rgb(137, 136, 136);
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slideshow-container:hover {
  .prev, .next {
    display: inline;
  }
}

.slideshow-container .slides {
  display: flex;
  transition: transform .5s ease;
}

.mySlides {
  flex: 0 0 100%;
  background-size: cover;
  width: 100%;
  text-align: center;
}

.mySlides img {
  width: 100%;
  height: 350px;
  border-radius: 2vw;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
  display: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.start-menu {
  height: 100px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.start-menu .button1,
.start-menu .button2 {
  padding: 9px;
  align-items: center;

  border: none;
  border-radius: 12px;
  background-color: #065577;
  transition: transform 0.5s ease;
}

.start-menu .button1:hover,
.start-menu .button2:hover {
  transform: scale(1.1);
}

.start-menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.start-menu .button2 {
  margin-left: 30%;
}

/*RESOUURCES*/
.resources {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 70px;

  height: fit-content;
  padding: 20px 0 150px 0;
}

.resources .heading-bar {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-size: 20px;
  color: black;
  font-weight: 500;
}

.resources .heading-bar span {
  color: #ff8c00;
}

.resources .heading-bar p {
  color: #898888;
}

.resource-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.reso {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.26);

  height: 470px;
  width: 330px;
  border: 1px solid #898888;
  border-radius: 25px;
  padding: 50px 30px 30px;
  font-size: 10px;
  transition: transform 0.5s ease;
}

.reso:hover {
  transform: scale(1.1);
}

.reso p {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.reso .button {
  border: none;
  border-radius: 12px;
  background-color: #065577;
  padding: 9px;
  align-items: center;
  transition: transform 0.5s ease;
}

.reso .button:hover {
  transform: scale(1.1);
}

.reso a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/*Mentorship plan*/
.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;

  padding-top: 40px;
}

.plan .select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 15px;
}

.plan .select span {
  color: #ff8c00;
}

.plan .select p {
  color: #898888;
  font-size: 20px;
  font-weight: 500;
}

.mentorship-container {
  display: grid;
  grid-template-columns: 400px 400px;
  row-gap: 40px;
  column-gap: 40px;

  background: rgba(0, 0, 0, 0.086);
  border-radius: 2vw;
  margin-bottom: 100px;
}

.maincontainer {
  background-color: transparent;
  width: 100%;
  height: 450px;
}

.maincontainer .add-to-cart,
.maincontainer .enroll-button {
  position: absolute;
  padding: 9px;
  bottom: 25px;
  left: 40%;

  background: #065577;
  border-radius: 12px;

  transition: transform 0.5s ease;
}

.maincontainer .add-to-cart {
  top: 12px;
  right: 12px;
  bottom: 400px;
  left: 70%;
  background: #ff8c00;
}

.maincontainer a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.maincontainer a:hover {
  transform: scale(1.1);
}

.maincontainer .thecard {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.maincontainer:hover .thecard {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ff8c00d4;
  color: black;

  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thefront .planfront {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.thefront .planfront h1 {
  font-size: 25px;
}

.thefront .planfront .hover-notify {
  background: #065577;
  color: white;
  font-size: 16px;
  padding: 10px;
  font-weight: 500px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.26);
  border: none;
}

.theback {
  padding: 80px 0 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: black;
  font-size: 15px;

  border: 1px solid #b6b4b4ab;
  transform: rotateY(180deg);

  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.5s ease;
}

.theback h2 {
  font-size: 30px;
}

.theback p {
  font-weight: 500;
}

.theback h1 {
  font-size: 65px;
  color: rgba(0, 0, 0, 0.738);
  margin-bottom: 60px;
}

/* WHY US*/
.preview {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;

  margin-bottom: 100px;
}

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;

  color: #065577;
}

.why-us h3 {
  color: #898888;
  font-size: 16x;
  font-weight: 400;
}

.homegrid-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 20px;
}

.benefit {
  height: 405px;
  width: 100%;
  min-height: 400px;
  max-width: 350px;
  padding: 20px;
  background-color: #eaeaeaa7;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  vertical-align: top;
  transition: .2s;
}

.benefit:hover {
  background: #065577;
  border: none;

  .benefit-heading,
  .benefit-lower,
  .direction {
    color: white;
  }

  .direction span {
    color: #ff8c00;
  }

  .direction .button {
    background: #ff8c00;
  }
}

.benefit-upper {
  padding-top: 10px;
  height: 45%;
  width: fit-content;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.benefit-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8c00;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.benefit-logo img {
  object-fit: contain;
  height: 40px;
  margin-bottom: 5px;
}

.benefit-heading {
  display: flex;
  font-size: 16px;
  font-weight: bolder;
  color: #065577;
}

.benefit-lower {
  height: 50%;
  width: fit-content;
  color: #898888;
  font-size: 18px;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.direction {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #24262b;
  transition: none;
}

.direction a {
  text-decoration: none;
  color: white;
}

.direction span {
  color: #ff8c00;
  font-size: 16px;
}

.direction .button {
  padding: 9px;
  align-items: center;
  margin-top: 15px;

  border: none;
  border-radius: 12px;
  background-color: #065577;
  transition: transform 0.5s ease;
}

.direction a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.direction .button:hover {
  transform: scale(1.1);
}
