section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 50px;

  padding-bottom: 100px;
}

section h1 {
  font-size: 65px;
  color: #065577;
  font-weight: 700;
}

section h1 span {
  color: #ff8c00;
}

.app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.calculator {
  background: #065577;
  width: 100%;
  max-width: 500px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.26);
  display: none;
}

.app .mode-toggle {
  background: #ff8c00;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  border-radius: 1rem;

  font-size: 1.4rem;
  color: #065577;
  font-weight: 700;
  border: none;
  flex-wrap: nowrap;
}

.mode-toggle select {
  background-color: #f0f0f0;
  color: black;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}

.mode-toggle option {
  text-decoration: none;
  border: none;
  color: #898888;
  font-size: 1.3rem;
  border-radius: 0;
  cursor: pointer;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 200px;
  padding: 1.5rem;
  color: white;
  text-align: right;
  background: #ff8c0045;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.26);

  margin: 15px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  flex: 1 1 0%;
}

.display .input {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.display .output {
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.display .operator {
  color: #ff8c00;
}

.display .brackets,
.display .percent {
  color: lightblue;
}

.keys {
  background: #ff8c00;
  padding: 1.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.26);
}

.keys .key {
  position: relative;
  cursor: pointer;

  display: block;
  height: 0;
  padding-top: 80%;
  background: #065577;
  border-radius: 1.5rem;
  transition: 0.2s;
  user-select: none;
}

.keys .key span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.keys .key:hover {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

.keys .key.operator span {
  color: #ff8c00;
}

.keys .key.action span {
  color: rgb(36, 199, 253);
}

/* Position sizing Calculator*/
.calculator1 {
  background: #065577;
  width: 100%;
  max-width: 500px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.26);
}

.display1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 438px;
  padding: 1.5rem;
  color: white;
  text-align: right;
  background: #ff8c0045;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.26);

  margin: 15px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  flex: 1 1 0%;
}

.display1 .input {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.display1 .output {
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.keys1 {
  background: #ff8c00;
  padding: 1.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.26);
}

.keys1 .key {
  position: relative;
  cursor: pointer;

  display: block;
  height: 0;
  padding-top: 40%;
  background: #065577;
  border-radius: 1.5rem;
  transition: 0.2s;
  user-select: none;
}

.keys1 .key span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.keys1 .key:hover {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

.keys1 .key.action span {
  color: rgb(36, 199, 253);
}

.keys2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 15px 15px 15px;
  font-size: 1.5rem;
}

.keys2 .key {
  background: #ff8c00;
  cursor: pointer;
  border-radius: 1rem;
  padding: 12px;
  width: 50%;
}

.keys2 .key span {
  font-size: 1.5rem;
  font-weight: 700;
}

.keys2 .key .res {
  color: rgb(164, 0, 0);
}

.keys2 .key .cal {
  color: rgb(2, 74, 2);
}
